body {
    font-family: Arial;
    margin: 40px;
}

/* Dropdown bar styling */
select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #5C6AC4;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

.task-frame {
    background-color: #e6ecff;   /* Light indigo */
    border: 2px solid #5C6AC4;   /* Muted darker indigo */
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    max-width: 80%;
    box-shadow: 0 4px 10px rgba(92, 106, 196, 0.15);

    display: flex;
    justify-content: space-between;
    align-items:center;
}

.display-frame {
    background-color: #e6ecff;   /* Light indigo */
    border: 2px solid #5C6AC4;   /* Muted darker indigo */
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
    max-width: 80%;
    box-shadow: 0 4px 10px rgba(92, 106, 196, 0.15);
    position: relative;
    display: inline-block;
}

.buttons {
    display:flex;
    gap: 10px;
}

button {
    background-color: #5C6AC4;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #3F4DB8;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    min-height: 100vh;

    background:
        repeating-linear-gradient(
            135deg,
            rgba(255,255,255,0.3),
            rgba(200, 200, 200, 0.3) 40px,
            rgba(68, 68, 68, 0.05) 40px,
            rgba(0,0,0,0.05) 80px
        ),
        linear-gradient(
            135deg,
            #dae1f7,
            #7987e1
        );
}